<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Secure Trading Example Form</title>
</head>

<body>
<form id="st-form" action="https://www.example.com" class="example-form" autocomplete="off" novalidate>
    <div id="st-popup"></div>
    <h1 class="example-form__title">
        Secure Trading<span>AMOUNT: <strong>10.00 GBP</strong></span>
    </h1>
    <div class="example-form__section example-form__section--horizontal">
        <div class="example-form__group">
            <label for="example-form-name" class="example-form__label">AMOUNT</label>
            <input
                    id="example-form-amount"
                    class="example-form__input"
                    type="number"
                    placeholder=""
                    name="myBillAmount"
                    data-st-name="billingamount"
            />
        </div>
    </div>

    <div class="example-form__section example-form__section--horizontal">
        <div class="example-form__group">
            <label for="example-form-name" class="example-form__label">NAME</label>
            <input
                    id="example-form-name"
                    class="example-form__input"
                    type="text"
                    placeholder="John Doe"
                    autocomplete="name"
                    name="myBillName"
                    data-st-name="billingfirstname"
            />
        </div>
        <div class="example-form__group">
            <label for="example-form-email" class="example-form__label">E-MAIL</label>
            <input
                    id="example-form-email"
                    class="example-form__input"
                    type="email"
                    placeholder="test@mail.com"
                    autocomplete="email"
                    name="myBillEmail"
                    data-st-name="billingemail"
            />
        </div>
        <div class="example-form__group">
            <label for="example-form-phone" class="example-form__label">PHONE</label>
            <input
                    id="example-form-phone"
                    class="example-form__input"
                    type="tel"
                    placeholder="+00 000 000 000"
                    autocomplete="tel"
                    name="myBillTel"
            />
            <!-- no data-st-name attribute so this field will not be submitted to ST -->
        </div>
    </div>

    <div class="example-form__spacer"></div>

    <div class="example-form__section">
        <div id="st-notification-frame" class="example-form__group"></div>
        <div id="st-card-number" class="example-form__group"></div>
        <div id="st-expiration-date" class="example-form__group"></div>
        <div id="st-security-code" class="example-form__group"></div>
    </div>

    <div id="st-animated-card" class="example-form__st-animated-card"></div>

    <div class="example-form__section">
        <div class="example-form__group example-form__group--submit">
            <button type="submit" class="example-form__button" id="merchant-submit-button">Zapłać</button>
        </div>
    </div>

    <div class="example-form__section">
        <div id="st-control-frame" class="example-form__group"></div>
        <div id="st-visa-checkout" class="example-form__group"></div>
        <div id="st-apple-pay" class="example-form__group"></div>
    </div>
</form>
<script type="text/javascript" src="<%= WEBSERVICES_URL %>/st.js"></script>
<script>
  (function() {
    var ST = SecureTrading;
    window
      .fetch('<%= WEBSERVICES_URL %>/config.json')
      .then(function(response) {
        if (response.status !== 200) {
          return Promise.reject('Configuration has not been set !');
        }
        return response.json();
      })
      .then(function(data) {
        try {
          configurationInit(ST, data);
        } catch (e) {
          console.error(e);
        }
      })
      .catch(function() {
        fetchDefaultConfig();
      });

    function fetchDefaultConfig() {
      fetch('./../json/config.json')
        .then(function(response) {
          if (response.status !== 200) {
            return Promise.reject('Default configuration has not been set !');
          }
          return response.json();
        })
        .then(function(data) {
          if (data) {
            configurationInit(ST, data);
          }
        });
    }

    function displayPopup(id, text, tp) {
      if (!document.getElementById(id)) {
        var div = document.createElement('div');
        div.innerText = text;
        div.setAttribute('id', id);
        div.setAttribute(
          'style',
          'display: flex; justify-content: center; position: fixed; height: 70px;right:0;color: white;padding: 0 50px;align-items: center;border-radius: 10px;font-family: Verdana;font-size: 20px;z-index:2'
        );
        div.style.backgroundColor = tp;
        if (tp === 'green') {
          div.style.top = 0;
        } else {
          div.style.bottom = 0;
        }
        var popup = document.getElementById('st-popup');
        popup.appendChild(div);
        setTimeout(function() {
          popup.removeChild(div);
        }, 3000);
      }
    }

    function init(stConfig) {
      stConfig.submitCallback = function someFancyfunction(data) {
        var stringified = JSON.stringify(data);
        var testVariable = 'This is what we have got after submit' + stringified;
        console.error(testVariable);
      };
      stConfig.successCallback = function() {
        displayPopup('success-popup', 'This is success message', 'green');
      };
      stConfig.errorCallback = function() {
        displayPopup('error-popup', 'This is error message', 'red');
      };
      stConfig.cancelCallback = function() {
        displayPopup('cancel-popup', 'This is cancel message', '#ffc23a');
      };

      var st = ST(stConfig);
      st.Components(stConfig.components);
      st.VisaCheckout(stConfig.visaCheckout);
      st.ApplePay(stConfig.applePay);

      st.Cybertonica().then(function(response) {
        console.error(response);
      });

      document.getElementById('example-form-amount').addEventListener('input', function() {
        st.updateJWT(
          'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhbTAzMTAuYXV0b2FwaSIsImlhdCI6MTU4ODY5NTEzOS41NTgwOTc0LCJwYXlsb2FkIjp7ImJhc2VhbW91bnQiOiIxMDAwIiwiYWNjb3VudHR5cGVkZXNjcmlwdGlvbiI6IkVDT00iLCJjdXJyZW5jeWlzbzNhIjoiR0JQIiwic2l0ZXJlZmVyZW5jZSI6InRlc3RfamFtZXMzODY0MSIsImxvY2FsZSI6ImVuX0dCIiwicGFuIjoiNTIwMDAwMDAwMDAwMTAwNSIsImV4cGlyeWRhdGUiOiIwMS8yMiJ9fQ.wAmn0JqsAfj7ZtsqbDadknWpPhUhJb7CPiQT8VqZ4hk'
        );
      });
    }

    function configurationInit(ST, data) {
      var stConfig = data;
      var parsedUrl = new URL(window.location.href);
      window.configJWT('./../json/jwtdata.json').then(function(jwt){
        stConfig.jwt = parsedUrl.searchParams.get('jwt') || jwt;
        init(stConfig);
      }).catch(function() {
        stConfig.jwt = parsedUrl.searchParams.get('jwt') || stConfig.jwt;
        init(stConfig);
      })
    }
  })();
</script>
</body>
</html>
