@import '../src/styles/variables';
@import '../src/styles/placeholders';
@import '../src/styles/core';

body {
  padding: 4rem 2rem;
}

.example-form {
  max-width: 80rem;
  margin: 0 auto;
}

.example-form iframe {
  width: 100%;
}

.example-form__title {
  font-size: 2rem;
  font-weight: normal;
  border-bottom: 0.1rem solid $color-placeholder;
  padding: 0 0 $space-m;
  margin: 0 0 $space-m * 3;

  span {
    float: right;
    font-size: 1.2rem;
    color: $color-placeholder;
    text-transform: uppercase;
    margin: 0.2rem 0 0;
  }

  strong {
    color: $color-body;
  }
}

.example-form__section--horizontal {
  display: flex;
  justify-content: space-between;

  .example-form__group {
    flex: 1;
    margin: 0 0 0 $space-l;

    &:first-child {
      margin-left: 0;
    }
  }
}

.example-form__group {
  margin: 0 0 $space-xs;

  &--submit {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.example-form__spacer {
  height: $space-l * 2;
}

.example-form__label {
  @extend %label;
}

.example-form__label--required {
  @extend %label--required;
}

.example-form__input {
  @extend %input;
}

.example-form__message {
  @extend %message;
}

.example-form__button {
  @extend %button;
}

.example-form {
  &__st-animated-card {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    max-height: 300px;
  }
}

.st-notification-frame {
  height: 6.2rem;
}

#st-control-frame-iframe {
  display: none;
}
