iframe {
  height: 90px;
  border: 0;
}

iframe:hover,
iframe:focus,
iframe:active {
  outline: none;
}

#st-animated-card-iframe {
  max-width: 400px;
  min-height: 260px;
  height: 100%;
  width: 100%;
  border: 0;
  display: block;
  box-sizing: border-box;
}

@media screen and (max-width: 350px) {
  #st-animated-card-iframe {
    min-height: 200px;
  }
}

@media screen and (max-width: 300px) {
  #st-animated-card-iframe {
    min-height: 175px;
  }
}
